div {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p,a,li,blockquote {
    font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#hero-section {
color: red;
background-color: darkgoldenrod;
text-align: center;
}

#expertise-section {
    background-color: aquamarine;
    /* width: 30%; */
    text-align: center;
    width: 500px;
    /*height: 400px;*/
    padding: 20px;
    vertical-align: middle;
    line-height: 400px;
    margin: auto;
}
#quality-section {
background-color: blue;

}